custom_emb.txt
outputs/*
pytorch/outputs/train_dev_per_epoch_accuracy.csv
pytorch/outputs/vocabulary_train.txt

__pycache__
outputs
results
.idea
../.idea/workspace.xml 
*.xml
../.DS_Store
.DS_Store
.idea/*
../.idea/*
../.idea/*.xml
*.iml
data
data-local/workdir
data-local/images
*.pyc
results
transient
data-local/*
